.woocommerce-billing-fields, .woocommerce-additional-fields , .fmp-pickup-delivery-setting-form-wrap {
	background: $white_color;
	border: 1px solid #EEEEEE;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 50px 55px;
	margin-bottom: 30px;
	@media (max-width: 992px) {
		padding: 25px 30px;
	}
}
.woocommerce-input-wrapper {
	input {
		background: #F8F8F8;
		border: 1px solid #EAEAEA;
		border-radius: 5px;
		height: 50px;
		padding: 10px 20px;
	}

	.select2-container--default .select2-selection--single {
		background: #F8F8F8;
		border: 1px solid #EAEAEA;
		border-radius: 5px;
		height: 50px;
		padding: 10px 20px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border-width: 5px 5px 0 5px;
		left: 5%;
		top: 90%;
	}

}

//delivery & pickup style

.fmp-pickup-delivery-setting-form-wrap, .fmp_order_time_type {
	margin-bottom: 30px !important;
	margin-right: 12px !important;
	margin-left: 12px !important;
}

//radio buttons
.fmp_order_time_type {
	padding: 15px 60px !important;
	margin-bottom: 0 !important;
	border-radius: 10px 10px 0 0 !important;
	border: 1px solid #EEEEEE;
	border-bottom: 0;
	background: $white_color;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
	@media (min-width: 922px) {
		max-width: 100%;
	}
	.input-radio {
		appearance: none;
		width: 20px !important;
		height: 20px !important;
		border: 2px solid #ccc;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		position: relative;
		padding: 5px;
		&:checked {
			border: 1px solid $primary_color; /* Change the border color of the checked radio button */
			&::before {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $primary_color; /* Change the background color of the checked radio button */
				position: absolute;
				top: 3px;
				left: 3px;
			}
		}
	}

}

//delivery form
.fmp-pickup-delivery-setting-form-wrap {
	border-radius: 0 0 10px 10px;
	border-top: 0;
	@media (min-width: 922px) {
		max-width: 100%;
	}
}

//woocommerce order view
#order_review_heading {
	margin-left: 12px;
	margin-right: 12px;
}
.woocommerce-checkout-review-order {
	margin: 0 12px;
}

.fmp-delivery-message {
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;
	color: $primary_color;
	text-transform: capitalize;
}


//checkout grid
.woocommerce-checkout {
	.col2-set {
		.col-1 {
			width: 50%;
			@media (max-width: 1024px) {
				width: 100%;
			}
		}
		.col-2 {
			width: 50%;
			@media (max-width: 1024px) {
				width: 100%;
			}
		}
	}
}

//.fmp-tip-container .fmp-tip-button-wrap input[type=button]:nth-child(1) {
//	background-color: $primary_color;
//}

//Foodmenu Tips styles
.fmp-tip-container .fmp-tip-button-wrap input[type=button] {
	&:nth-child(1) {
		background: $primary_color;
		border-color: $primary_color;
		&:hover {
			background-color: transparent;
			color: $primary_color
		}
	}
	&:nth-child(2) {
		//background: $primary_color;
		//border-color: var(--fmp-tip-primary);
		//color: #fff;
	}
}

//woocmmerce order review table
.woocommerce table.shop_table {
	border: none;
	tbody {
		border-bottom: 1px solid #ECECEC;
		margin-bottom: 50px;
		tr {
			&:last-child {
				td {
					padding-bottom: 25px !important;
				}
			}
		}
	}
	tr.order-total {
		border-top: 1px solid #ECECEC;
	}
}

.woocommerce-checkout #payment {
	background-color: $white_color;
}
