/*===============================
Fluent form style
================================*/

.hero-subscribe {
	@media (min-width: 768px) {
		.frm-fluent-form .ff-t-container {
			gap: 8px;
		}
	}
}

@media (min-width: 768px) {
	.frm-fluent-form .ff-t-container {
		align-items: self-start;
	}
}

.rt-contact-form {
	@media (min-width: 768px) {
		.frm-fluent-form .rt-contact-form {
			gap: 24px;
		}
	}

	.ff-el-group.ff_submit_btn_wrapper {
		margin-bottom: 0 !important;
	}
}

//check-box
.rt-subscription-checkbox {
	.ff-el-form-check {
		.ff-el-form-check-label {
			input {

			}
			span {
				color: #bebcbc;
			}
		}
	}
}

//footer copyright
.rt-footer-copyright-text {
	p {
		a {
			color: $white_color;
			&:hover {
				color: $primary_color;
			}
		}
	}
}

