.menu-1, .combo-menu  {
	.fmp-box-wrapper {
		border: 1px solid rgba(255, 255, 255, 0.15);
		border-radius: 20px;
		padding: 40px 35px;
	}
	//category title
	.fmp-cat-title {
		background-image: url("../images/menu-title-shape.svg");
		background-repeat: no-repeat;
		background-position: center center;
		padding: 0;
		border-bottom: 0;
		h2 {
			color: $white_color;
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			text-transform: capitalize;
			padding: 15px 0;
			&:before {

			}
			&::after {
				display: none;
			}
		}
	}

	.fmp-box {
		ul.menu-list {
			padding: 0;
			li {
				margin-bottom: 30px;
			}
		}
		.fmp-media-body {
			.fmp-title-price {
				margin-bottom: 0;
			}
			.fmp-title {
				position: relative;
				font-weight: 600;
				font-size: 20px;
				line-height: 25px;
				z-index: 0;
				text-transform: capitalize;
				a {
					color: $white_color;
				}
				&::before {
					content: '';
					border: 1px dashed #656565;
					position: absolute;
					right: 0;
					top: 10px;
					width: 50%;
					z-index: -1;
					@media (max-width: 992px) {
						display: none;
					}
				}
			}
			.fmp-price.price ins {
				color: $white_color;
				font-weight: 600;
				font-size: 22px;
				line-height: 20px;
			}
			p {
				font-weight: 400;
				font-size: 14px;
				line-height: 18px;
				//color: #D0D0D0;
			}
		}
	}
}


.grid-by-cat-2 {
	.fmp-category-title-wrapper.type-2 {
		margin-bottom: 29px;
		.fmp-category-title {
			width: 100%;
			justify-content: center;
			&::before {
				display: none;
			}
		}
	}

	.fmp-grid-by-cat-free-3 .fmp-grids-wrapper .fmp-col-xs-12 .fmp-food-item {
		border: 1px solid #D2D2D2;
		filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.05));
		border-radius: 10px;
		box-shadow: none;
		padding: 0;
		.fmp-image-wrap {
			flex: unset;
			margin-right: 15px;
			@media (min-width: 992px) {
				width: 112px;
				height: 112px;
			}
			img {
				width: 100%;
				height: 100%;
				border-radius: 8px;
				object-fit: cover;
			}
		}
		.fmp-content-wrap {
			.fmp-title {
				.price ins {
					color: $title_color;
				}

			}
			.fmp-footer {
				.fmp-add-to-cart {
					a {
						border: 1px solid $primary_color;
						border-radius: 50px;
						min-height: 35px;
						&::before, &::after {
							border-radius: 50px;
						}
					}
				}
			}
		}
		&:hover {
			border-color: $primary_color;
		}
	}

	.fmp-grid-by-cat-free-3 .fmp-grids-wrapper .fmp-col-xs-12 .fmp-food-item {
		padding: 20px;
	}


	.fmp-row::after {
		display: none;
		width: 0;
	}
}


