//product card style

.product-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	.img-wrap {
		.item-img {
			line-height: 0;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.item-content {
		position: relative;
		.product-categories {
			margin-bottom: 15px;
			a {
				border: 1px solid #D0D0D0;
				border-radius: 20px;
				font-weight: 600;
				font-size: 12px;
				line-height: 15px;
				color: #333333;
				padding: 4px 10px;
			}
		}
		.product-rating {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;
			margin-bottom: 10px;
			span {
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				color: #333333;
				vertical-align: middle;
			}
			i {
				color: #E9A800;
			}
		}
		.discount-flag {
			position: absolute;
			top: -40px;
			left: 0;
			background-color: var(--rt-primary-color);
			color: $white_color;
			padding: 7px 50px;
			width: 250px;
			height: 40px;
			border-radius: 0 10px 0 0;
			@media(min-width: 1024px) {
				position: absolute;
				top: 45px;
				right: -55px;
				left: auto;
				transform: rotate(45deg);
				border-radius: 0;
			}
		}
		.excerpt {
			font-weight: 500;
			font-size: 15px;
			line-height: 28px;
			color: #333333;
			margin-bottom: 30px;
		}
	}
	.btn-wrap {
		a {
			padding: 10px 22px;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
		}
	}


	&-style1 {
		display: flex;
		justify-content: flex-end;
		border-radius: 20px;
		overflow: hidden;
		background-color: #FFF3F3;
		text-align: center;
		@media(max-width: 992px) {
			flex-direction: column;
		}
		.img-wrap {
			position: relative;
			flex: 0 1 50%;
		}
		.item-content {
			padding: 115px 50px;
			flex: 0 1 50%;

			@media(max-width: 1290px) {
				padding: 70px 40px;
			}
			@media(max-width: 1100px) {
				padding: 30px 35px;
			}



			.item-title {
				@include font_size(32px, 40px);
				a {
					color: $title_color;
				}
			}
			.price-order-btn-wrap {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				align-items: center;
				gap: 45px;
				@media (max-width: 768px) {
					gap: 25px;
				}
				.item-price {
					position: relative;
					font-weight: 500;
					font-size: 20px;
					line-height: 25px;
					color: #848484;
					.original-price {
						font-weight: 500;
						font-size: 20px;
						line-height: 25px;
						color: #848484;
					}
					.sale-price {
						@include font_size(30px, 30px);
						font-weight: 700;
						color: $title_color;
						margin-right: 8px;
					}

					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: -22px;
						width: 1px;
						height: 40px;
						background-color: #D0D0D0;
						@media (max-width: 768px) {
							display: none;
						}
					}
				}
			}
		}

	}
}
.product-item.reverse {
	.item-content {
		.discount-flag {
			@media(min-width: 1024px) {
				position: absolute;
				top: 45px;
				right: auto;
				left: -55px;
				transform: rotate(-45deg);
			}
		}
	}
}

.woo-layout-style1 {
	.product-item {
	}
	.show-more-btn {
		margin-top: 20px;
		a {
			background-color: $pink-light;
		}
	}
}

