//product card style

.product-item {
	margin-bottom: 30px;
	border: 1px solid $border_color;
	border-radius: 10px;
	.img-wrap {
		position: relative;
		.item-img {
			line-height: 0;
			border-radius: 10px 10px 0 0;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				@include transition_default();
			}
		}
		.discount-flag {
			position: absolute;
			left: 0;
			bottom:0;
			padding: 7px 30px 7px 15px;
			background-color: $primary_color;
			height: 30px;
			font-weight: 500;
			font-size: 13px;
			line-height: 16px;
			z-index: 1;
			clip-path: polygon( 83.097% 0%,0% 0%,0% 100%,100% 100%,100% 100%,98.812% 98.824%,97.72% 95.56%,96.723% 90.609%,95.823% 84.368%,95.02% 77.237%,94.313% 69.614%,93.704% 61.898%,93.192% 54.488%,92.777% 47.783%,92.46% 42.182%,92.46% 42.182%,91.734% 30.75%,90.937% 21.597%,90.08% 14.468%,89.17% 9.111%,88.216% 5.273%,87.227% 2.7%,86.212% 1.139%,85.179% 0.337%,84.138% 0.042%,83.097% 0% );
			span {
				color: $white_color;
				.price-percent {
					font-weight: 700;
				}
			}
			&:before {
				//content: url(../images/flag-shape.png);
				position: absolute;
				right: -38px;
				top: 0;
				width: 100%;
				z-index: -1;
			}
		}
	}
	.product-rating {
		i {
			color: #E9A800;
			margin-right: 5px;
		}
		.average-rating {
			color: $title_color;
		}
	}
	.item-content {
		position: relative;
		padding: 30px 20px;
		.product-categories {
			margin-bottom: 15px;
			a {
				border: 1px solid #D0D0D0;
				border-radius: 20px;
				font-weight: 600;
				font-size: 12px;
				line-height: 15px;
				color: #333333;
				padding: 4px 10px;
				&:hover {
					background-color: $primary_color;
					color: $white_color;
					border-color: $primary_color;
				}
			}
		}
		.item-title {
			font-weight: 700;
			font-size: 22px;
			line-height: 28px;
			a {
				color: $title_color;
				&:hover {
					color: $primary_color;
				}
			}
		}
		.product-rating {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;
			margin-bottom: 10px;
			span {
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
				color: #333333;
				vertical-align: middle;
			}
			i {
				color: #E9A800;
			}
		}
		.excerpt {
			font-weight: 500;
			font-size: 15px;
			line-height: 28px;
			color: #333333;
			margin-bottom: 30px;
		}
		.price-order-btn-wrap {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 10px;
			row-gap: 20px;
			@media (max-width: 768px) {
				gap: 25px;
			}
		}
		.item-price {
			position: relative;
			font-weight: 600;
			font-size: 24px;
			line-height: 30px;
			color: $title_color;
			.original-price {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #A0A0A0;
			}
			.sale-price {
				@include font_size(30px, 30px);
				font-weight: 700;
				color: $title_color;
				margin-right: 8px;
			}
		}

		.btn-wrap {
			a {
				padding: 8px 15px;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
	&:hover {
		.img-wrap {
			.item-img {
				img {
					transform: scale(1.15);
				}
			}
		}
	}

	&-style1, &-style3, &-style4 {
		.item-content {
			.product-categories {
				a {
					border: none;
					background: $pink-light-2;
					color: $primary_color;
				}
			}
		}
	}

	&-style2 {
		border: none;
		display: flex;
		justify-content: flex-end;
		border-radius: 20px;
		overflow: hidden;
		background-color: #FFF3F3;
		text-align: center;
		@media(max-width: 992px) {
			flex-direction: column;
		}
		.img-wrap {
			position: relative;
			flex: 0 1 50%;
			.item-img {
				border-radius: unset;
			}
		}
		.item-content {
			padding: 115px 50px;
			flex: 0 1 50%;

			@media(max-width: 1290px) {
				padding: 70px 40px;
			}
			@media(max-width: 1100px) {
				padding: 30px 35px;
			}

			.item-title {
				@include font_size(32px, 40px);
				a {
					color: $title_color;
				}
			}
			.discount-flag {
				position: absolute;
				top: -40px;
				left: 0;
				background-color: var(--rt-primary-color);
				color: $white_color;
				padding: 7px 50px;
				width: 250px;
				height: 40px;
				border-radius: 0 10px 0 0;
				@media(min-width: 1024px) {
					position: absolute;
					top: 45px;
					right: -55px;
					left: auto;
					transform: rotate(45deg);
					border-radius: 0;
				}
			}
			.price-order-btn-wrap {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				align-items: center;
				gap: 45px;
				@media (max-width: 768px) {
					gap: 25px;
				}
				.item-price {
					position: relative;
					font-weight: 500;
					font-size: 20px;
					line-height: 25px;
					color: #848484;
					.original-price {
						font-weight: 500;
						font-size: 20px;
						line-height: 25px;
						color: #848484;
					}
					.sale-price {
						@include font_size(30px, 30px);
						font-weight: 700;
						color: $title_color;
						margin-right: 8px;
					}

					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: -22px;
						width: 1px;
						height: 40px;
						background-color: #D0D0D0;
						@media (max-width: 768px) {
							display: none;
						}
					}
				}
				.btn-wrap {
					a {
						padding: 10px 22px;
					}
				}
			}
		}
	}

	&-style3 {
		padding: 12px 10px 24px 10px;
		.img-wrap {
			.item-img {
				border-radius: 10px;
			}
		}
		.item-content {
			padding: 24px 0 0 0;
			.product-categories {
				margin-bottom: 0;
			}
			.title-price-wrap {
				.item-title {
					margin-bottom: 0;
					font-size: 30px;
					line-height: 38px;
				}
				.item-price {
					display: flex;
					flex-direction: column;
					gap: 10px;
					text-align: right;
					flex: 1;
					.sale-price {
						margin-right: 0;
					}
				}
			}
			.product-rating {
				justify-content: flex-start;
				margin-top : 0;
				margin-bottom : 24px;
			}
			.btn-wrap a {
				padding: 13px 20px;
			}
		}
	}

	&-style4 {
		.flag-wrap {
			background: #F2F2F2;
			display: flex;
			height: 29px;
			align-items: center;
		}
		.product-rating {
			flex: 1;
			margin: 0;
		}
		.discount-flag {
			display: inline-block;
			position: relative;

			left: 0;
			bottom:0;
			padding: 7px 30px 7px 15px;
			background-color: $primary_color;
			height: 30px;
			font-weight: 500;
			font-size: 13px;
			line-height: 16px;
			z-index: 1;
			clip-path: polygon( 83.097% 0%,0% 0%,0% 100%,100% 100%,100% 100%,98.812% 98.824%,97.72% 95.56%,96.723% 90.609%,95.823% 84.368%,95.02% 77.237%,94.313% 69.614%,93.704% 61.898%,93.192% 54.488%,92.777% 47.783%,92.46% 42.182%,92.46% 42.182%,91.734% 30.75%,90.937% 21.597%,90.08% 14.468%,89.17% 9.111%,88.216% 5.273%,87.227% 2.7%,86.212% 1.139%,85.179% 0.337%,84.138% 0.042%,83.097% 0% );
			span {
				color: $white_color;
				.price-percent {
					font-weight: 700;
				}
			}
			&:before {
				position: absolute;
				right: -38px;
				top: 0;
				width: 100%;
				z-index: -1;
			}
		}
		.item-content {
			padding: 20px;
			.item-title {
				margin-bottom: 0;
			}
			.product-categories {
				a {
					background-color: transparent;
					padding: 0;
					font-weight: 500;
					font-size: 14px;
					line-height: 18px;
					color: $title_color;
					&:hover {
						background-color: transparent;
						color: $primary_color;
					}
				}
			}
			.price-order-btn-wrap {
				justify-content: space-between;
			}
		}
	}
}

.product-item.reverse {
	.item-content {
		.discount-flag {
			@media(min-width: 1024px) {
				position: absolute;
				top: 45px;
				right: auto;
				left: -55px;
				transform: rotate(-45deg);
			}
		}
	}
}

.woo-layout-style2 {
	.show-more-btn {
		margin-top: 20px;
		a {
			background-color: $pink-light;
		}
	}
}

